/* slider */
.title-slider{
  font-family: 'Roboto', sans-serif;
  color: #D18700;
  text-shadow: -1px 0 black, 0 1px black,
      1px 0 black, 0 -1px black;
  text-transform: uppercase;
  font-size: 64px;
}
.text-slider{
  font-size: 40px;
  text-shadow: -1px 0 black, 0 1px black,
          1px 0 black, 0 -1px black;
}
.nav-img{
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

/* Bandeau avec barre de recherche */
.navigation{
  background-color: #FFFFFF;
}
.search{
  /* height: 5em; */
  padding-top: 1em;
}

/*section avec les galeries d'images */
section{
  background-color: #F2F2F2;
  padding-top: 4em;
  padding-bottom: 4em;
}
.header{
  color: #212D40;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 2em;
  text-transform: uppercase;
}
.header p{
  opacity: 0.5;
  font-family: 'Open Sans', sans-serif;
  text-transform: lowercase;
  font-size: 1em;
}
.card-deck{
  /* carte des hotels, restaurants, bar, cafés les mieux notées */
  margin-top: 1.2em;
}
.card-img-top{
  height: 170.167px;
}
.star-color i{
  color: #D18700; ;
}

/* footer */
.sitemap{
  background-color: white;
  padding-top: 3em;

}
.row{
  padding-bottom: 2em;
}
.restaurant{
  text-align: justify;
}
.website h5, .foodies h5, .restaurant h5{
  color: #33322D;
  font-size: 1.3em;
  text-align: justify;
  opacity: 0.5;
}
.website a, .foodies a, .restaurant a, .other a{
  color: grey;
  font-family: 'Montserrat Alternates', sans-serif;
  opacity: 0.5;

}
.other{

}
/* Mention legal */
span{
  height: 0.5em;
  color: grey;
  font-size: 0.8em;

}
span:hover{
  color: #8C4303;
}
.social_network a{
  color: #59584F;
  font-size: 1.5em;
  opacity: 0.5;
}

#inlineFormInputName2{
  background-image: url(img/sharp-near_me-24px.png);
  background-repeat: no-repeat;
  background-position: right;
}
