/* slider */
h1{
  font-family: 'Roboto', sans-serif;
  color: #D18700;
}

/* Bandeau avec barre de recherche */
.navigation{
  background-color: #FFFFFF;
}
.search{
  height: 5em;
  padding-top: 1em;
}

/*section avec les galeries d'images */
section{
  background-color: #F2F2F2;
  padding-top: 4em;
  padding-bottom: 4em;
}
.header{
  color: #212D40;
  font-family: 'Montserrat Alternates', sans-serif;
  padding-bottom: 2em;
}
.card-deck{
  /* carte des hotels, restaurants, bar, cafés les mieux notées */
  margin-top: 1.2em;
}
.card-img-top{
  height: 170.167px;
}

/* footer */
.plan_site{
  background-color: #011526;
  padding-top: 3em;

}
.row{
  padding-bottom: 2em;
}
.restaurant{

  text-align: justify;

}
.website h5, .foodies h5, .restaurant h5{
  color: #FF8800;
  text-align: justify;
}
.other{

}
/* Mention legal */
span{
  height: 0.5em;

}
span:hover{
  color: #8C4303;
}
.social_network a:active{
  color: #734002;
  font-size: 0.5em;
}
